# Ignore everything by default
/*

# But not these directories (keep scripts and .gitignore itself)
#!scripts/
#!.gitignore
#!README.md
# Allow scripts and all its contents
#scripts/**

# Ignore all other files and folders
# (You can add exceptions below if needed)
Include/
en-US/
Images/
counter_files/
.venv/
__pycache__/